.primary-nav {
  background: #f2f2f2;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  padding: 15px;

  h1 {
    padding: 0;
    margin: 0 0 20px 0;
    font-size: 16px;
    text-align: center;
  }
}

.input-row {
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  padding: 15px;
}